.mui-icon-left-nav{
    color: white;
}
.get-code{
    position: absolute;
    right: 10px;
    top: 0;
    color: #006699;
    transform: translateY(50%);
}
.login{
    display: block;
    padding-right: 10px;
    margin-top: 10px;
    text-align: right;
}
.mui-input-group{
    margin-top:30px;
}