<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>地址管理</title>
    <link href="../css/mui.min.css" rel="stylesheet" />
    <link href="../css/base.css" rel="stylesheet" />
    <link href="../css/font-awesome.min.css" rel="stylesheet" />
    <script src="../js/zepto.js"></script>
    <script src="../js/template-web.js"></script>
    <script src="../js/mui.min.js"></script>
    <style>
        .mui-content>.mui-table-view:first-child {
            margin-top: 0;
        }

        .mui-media-body {
            font-size: 14px;
        }

        #add-address {}
    </style>
</head>

<body>
    <header class="mui-bar mui-bar-nav my-header">
        <h1 class="mui-title">收货地址管理</h1>
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" href="javascript:void(0)"></a>
    </header>
    <nav class="mui-bar mui-bar-tab mui-bar-footer my-footer">
        <a class="mui-tab-item" href="index.html">
            <span class="mui-icon mui-icon-home"></span>
            <span class="mui-tab-label">首页</span>
        </a>
        <a class="mui-tab-item" href="category.html">
            <span class="mui-icon mui-icon-bars"></span>
            <span class="mui-tab-label">分类</span>
        </a>
        <a class="mui-tab-item" href="cart.html">
            <span class="mui-icon fa fa-shopping-cart"><span class="mui-badge"></span></span>
            <span class="mui-tab-label">购物车</span>
        </a>
        <a class="mui-tab-item mui-active" href="#">
            <span class="mui-icon mui-icon-contact"></span>
            <span class="mui-tab-label">我</span>
        </a>
    </nav>
    <div class="mui-content">
        <ul class="mui-table-view" id="address-info-list">

        </ul>
    </div>
    <script id="addressInfo" type="text/template">
        <li class="mui-table-view-cell mui-media" id="add-address"><a class="mui-text-center" href="addaddress.html">添加收货地址</a></li>
          <% for(var i=0;i< result.length;i++) { %>
        <li class="mui-table-view-cell mui-media mui-transitioning " id="address-info-show" style="padding:0">
            <div class="mui-slider-right mui-disabled">
                <span class="mui-btn mui-btn-green updateAddress" href="updateAddress.html" data-id=<%= result[i].id %>>编辑</span>
                <span class="mui-btn mui-btn-red deleteAddress" data-id=<%= result[i].id %> >删除</span>   
            </div>
            <div class="mui-slider-handle" style="">
                <a class="mui-navigate-right" href="javascript:void(0)">
                    <div class="mui-media-body"  style="padding:11px 15px">
                        邮编：<%= result[i].zipcode %> 收货人：<%= result[i].receiver %>
                        <p class="mui-ellipsis"><%= result[i].address %><%= result[i].addressDetail %></p>
                    </div>
                </a>
            </div>
        </li>
        <% } %>
        </script>
    <script src="../js/public.js"></script>
    <script src="../js/address.js"></script>
</body>

</html>